<ul>
  ${data.map(restaurant =>`
  <li><b>Category:</b> ${restaurant.category}</li>
  <li><b>Address:</b> ${restaurant.address}</li>
  `).join('')}
</ul>

<h2>REVIEWS</h2>

<hr />

<form action="/" method="POST">
  <input type="hidden" name="restaurant_id" value="${data[0].id}" />
  <label
    >Title
    <input type="text" name="review_title" placeholder="Review Title" />
  </label>
  <label
    >My Review
    <textarea
      name="review_text"
      placeholder="My review of this restaurant..."
    ></textarea>
  </label>
  <button type="submit">Save Review</button>
</form>

<a href="/">Return to homepage</a>
